---
layout: default
---
<div class="container">
<div class="row">
	
		<div class="col col-12" style="/*! align-content: flex-start; *//*! overflow: hidden; */flex: 1;/*! max-width: 52%; *//*! width: ; */">
			<article class="article-first reveal-in" style="/*! box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15); *//*! border-radius: 30px; *//*! overflow: hidden; *//*! background-color: #0a0a12; *//*! position: relative; *//*! margin-bottom: 30px; */border-radius: 3px;overflow: hidden;box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15);background-color: #0a0a12;/*! padding-bottom: 20px; *//*! border-bottom: 2px solid #3E4250; */position: relative;/*! margin-left: -31%; *//*! margin-right: 38%; */">
				<div class="article-image-first" style="background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgb(0, 0, 0)),url('/img/about.jpg') ">
					<div class="hero__content" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; width: 100%; max-width: 650px; padding: 0 20px; text-align: center;">
					    <h1 class="hero__title">0xRJ</h1>
					    <p class="hero__desc">Nothing as for now</p>
					    <br>
					     <div class="social">
						      <ul class="social__list list-reset">

							<li class="social__item">
							  <a class="social__link" href="https://github.com/0xrj" aria-label="social icon"><i class="ion ion-logo-github"></i></a>
							</li>

							<li class="social__item">
							  <a class="social__link" href="https://twitter.com/0xrj_" aria-label="social icon"><i class="ion ion-logo-twitter"></i></a>
							</li>
						       <!-- <li class="social__item">
							  <a class="social__link" href="https://hackerone.com/0xrj" aria-label="social icon"><i class="ion ion-ios-trophy"></i></a>
							</li>
							<li class="social__item">
							  <a class="social__link" href="https://bugcrowd.com/0xrj" aria-label="social icon"><i class="ion ion-ios-bug"></i></a>
							</li>-->

						      </ul>
					    </div>				

					</div>
					
				</div>
			</article> <!-- /.article-first -->
		</div>
  	<div class="page-content" style="float: left;width: 73%;height: 450px;">
				<div class="page-head" style="padding-top: 0;color: #006240; padding: 0">
					
				</div>

				<div class="page-body" style="text-align: left; border-bottom: 1px solid #266859;">
					
				<div class="highlight" style="/*! height: 10px; */"><pre class="highlight" style="height: 325px; background: #000; font-weight: bold;"><code><span class="kn">import</span> <span class="nn">focus</span>
<span class="kn">import</span> <span class="nn">interest</span>

<span class="k">def</span> <span class="nf">outsider</span><span class="p">():</span>
  <span class="k">print</span><span class="p">(</span><span class="nb">'This is 0xrj, Welcome to my place'</span><span class="p">)</span>
  <span class="k">print</span><span class="p">(</span><span class="nb">'Check out my work right below'</span><span class="p">)</span>
  <span class="k">print</span><span class="p">(</span><span class="nb">'You can get me in twitter @0xrj_'</span><span class="p">)</span>

<span class="k">def</span> <span class="nf">matey</span><span class="p">():</span>
  <span class="k">print</span><span class="p">(</span><span class="nb">'Welcome again! Thanks for your love'</span><span class="p">)</span>
  <span class="k">print</span><span class="p">(</span><span class="nb">'Check out my latest blog, cheers!'</span><span class="p">)</span>

<span class="k">def</span> <span class="nf">main</span><span class="p">():</span>
  <span class="k">if</span> <span class="n">visiter</span> <span class="s">not</span> <span class="n">following</span> <span class="nb">0</span><span class="nb">xrj</span><span class="p">:</span>
    <span class="n">outsider</span><span class="p">()</span>
    <span class="s">exit</span><span class="p">(</span><span class="mi">0</span><span class="p">)</span>
  <span class="n">matey</span><span class="p">()</span>

<span class="k">if</span> <span class="s">'__name__'</span> <span class="o">==</span> <span class="s">'__main__'</span><span class="p">:</span>
  <span class="n">main</span><span class="p">()</span>
</code></pre></div>
				</div>
			</div>
	<div></div></div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-12 col-t-8" style="width:100%;">
			<div class="row">
			{%- for post in paginator.posts limit: 6 -%}
				<article class="article col col-12 col-t-6" style="width:33.3333%;">
					<div class="article-box">
						<div class="article-head">
							<a href="{{ post.url | prepend: site.baseurl }}" class="article-image" style="background-image: url({{"/img/" | prepend: site.baseurl | append : post.image}})">
								<div class="image-overlay">
									<!--<span class="image-overlay-text">{{post.title | slice: 0}}</span>-->
									<span class="image-overlay-text" style="font-size: 30px;">{{post.tags}}</span>
								</div>
							</a>
						</div>
						<div class="article-content">
							<div class="article-info">
								<div class="article-date">
									<span class="date"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}{{ post.date | date: date_format }}</time></span>
								</div>
								<div class="article-tag">
								{% if post.tags.size >= 1 %}
									{% for tag in post.tags %}
									<a href="{{ site.baseurl }}/tags#{{tag}}" class="tag">{{ tag }}</a>
									{% endfor %}
								{% else %} {% endif %}
								</div>
							</div>
							<h2 class="article-title">
								<a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
							</h2>
							<p class="article-excerpt">{% if post.description %}{{ post.description | strip_html | truncate: 135 }}{% else %}{{ post.content | strip_html | truncate: 135 }}{% endif %}</p>
						</div>
					</div>
				</article> <!-- /.article -->
			{% endfor %}
			</div>
			{% include pagination.html %}
		</div>
	</div>
</div>
